<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админка</title>
</head>

<body>
    <nav>
        <a href="{{url_for('admin.admin')}}">Главная</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages(with_categories = True)%}
		{% if messages %}
			<div class="flash-messages">
				{% for category, message in messages %}
					<div class="flash-message flash-{{category}}">
						{{message}}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
    {% block content %}
    {% endblock %}
</body>

</html>