<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Админка</title>
</head>

<body class="admin-body">
    <header class="admin-header">
        <div class="admin-header-inner">
            <a href="{{ url_for('admin.admin') }}" class="admin-logo">Админка</a>

            <nav class="admin-nav">
                <a href="{{ url_for('admin.admin') }}">Главная</a>
                <a href="{{ url_for('admin.admin_products') }}">Товары</a>
                <a href="{{ url_for('admin.admin_orders') }}">Заказы</a>
                {% if session.get('is_admin') %}
                    <a href="{{url_for('admin.logout')}}">Выйти</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main class="admin-main">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="admin-flashes">
                    {% for category, message in messages %}
                        <div class="admin-flash admin-flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>
</body>

</html>