{% extends 'base.html' %}

{% block title %}Каталог керамики{% endblock %}

{% block content %}
	<h1 class="page-title">Наши изделия</h1>
	<div class="product-grid">
		{% for product in products %}
			<div class="product-card">
				<h3 class="product-title">{{product.name}}</h3>
				<p class="product-description">{{product.description}}</p>
				<p class="product-price">{{product.price}} руб.</p>
				<div class="product-actions">
					<a href="{{url_for('product_page', product_id=product.id)}}" class="btn btm-secondary">
						Подробнее
					</a>
					<form action="{{url_for('add_to_cart_route', product_id=product.id)}}" method="post" class="add-to-card-form">
						<input type="number" name="quantity" value="1" min="1" class="quantity-input">
						<button type="submit" class="btn btn-primary">В корзину</button>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="catalog-footer">
		<a href="{{url_for('show_cart')}}" class="btn btn-success">Перейти в корзину</a>
	</div>
{% endblock %}