<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Полина Яланская{% endblock %}
    </title>

    <script>document.documentElement.classList.remove("no-js");</script>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='public/css/site.css') }}"
    >
</head>

<body>
    {% block content %}{% endblock %}

    <script
        src="{{ url_for('static', filename='public/js/site.js') }}"
    ></script>
</body>
</html>
